.text-center{
  text-align: center;
}

.bg-black{
  background: lightsteelblue;
  width: 360px;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
}
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

